<div
  class="min-h-screen bg-backgroundColor p-8"
  [ngClass]="{
    'bg-dark-background text-dark-text': themeService.isDarkModeEnabled(),
    'bg-light-background text-light-text': !themeService.isDarkModeEnabled()
  }"
>
  <app-header></app-header>

  <div class="p-8">
    <h2 class="text-3xl font-medium text-textColor">Components</h2>
    <div class="px-8 py-4 r">
      <h3 class="text-2xl font-medium text-textColor">Button Component</h3>
      <div class="flex gap-5 mt-4">
        <app-button variant="primary" size="medium">Primary Button</app-button>
        <app-button variant="secondary" size="medium"
          >Secondary Button</app-button
        >
      </div>
    </div>
    <div class="p-8">
      <h3 class="text-2xl font-medium text-textColor">Card Component</h3>
      <div class="flex flex-col gap-5 mt-5">
        <app-card>
          <h2 class="text-xl font-bold">Default Card</h2>
          <p>This is a card with default styles.</p>
        </app-card>

        <app-card  [class]="'bg-blue-500 text-white'" >
          <h2 class="text-xl font-bold">Custom Card</h2>
          <p>This card has custom background and text colors.</p>
        </app-card>
      </div>
    </div>
    <div class="p-8">
      <h3 class="text-2xl font-medium text-textColor">Badge Component</h3>
      <div class="mt-5 flex gap-5">
        <app-badge type="success">Success Badge</app-badge>
        <app-badge type="warning">Warning Badge</app-badge>
        <app-badge type="error">Error Badge</app-badge>
        <app-badge type="info">Info Badge</app-badge>
        <app-badge
          type="warning"
          size="small"
          [className]="'m-1 bg-slate-500 text-rose-800'"
          >Custom Badge</app-badge
        >
      </div>
    </div>
  </div>
</div>
